<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome" />
	<test name="Test">
		<!-- <groups>
			<run>
				<include name="regression" />
			</run>
		</groups> -->	
		<classes>			
			<!-- <class name="com.investaSolutions.tests.LoginTest" />
			<class name="com.investaSolutions.tests.DisconnectTest" />			
			<class name="com.investaSolutions.tests.AMAssetManagerTest" />
			<class name="com.investaSolutions.tests.AssetManagerPortalTest" />
			<class name="com.investaSolutions.tests.AMStrategyManagementTest" /> -->
			<!-- <class name="com.investaSolutions.tests.VerifyPortfolioModelManagementTest" /> -->
		<!-- 	<class name="com.investaSolutions.tests.AMStrategyMa\nagementTest" /> -->
 <!-- 		<class name="com.investaSolutions.tests.VerifyInstrumentManagementsTest"/> -->
<!-- 		<class name="com.investaSolutions.tests.VerifyPortfolioModelManagementTest" />
		<class name="com.investaSolutions.tests.VerifyStrategyDetailsOnStrategyManagementTest"/>
		<class name="com.investaSolutions.tests.VerifyInvestmentObjectivesOnStrategyManagementTest"/>
		<class name="com.investaSolutions.tests.VerifyMarketingMaterialsOnStrategyManagementTest"/> -->
		<!-- <class name="com.investaSolutions.tests.VerifyGlobalFilterOnInstrumentPageTest"/> -->
		<!-- <class name="com.investaSolutions.tests.VerifyBenchmarkCategorizationOnBenchmarkCreationTest"/> -->
	<!-- 	<class name="com.investaSolutions.tests.VerifyModelsTest"/> -->
		<!-- <class name="com.investaSolutions.tests.VerifyUserTest"/> -->
		<class name="com.investaSolutions.tests.VerifySettingVerifyGlobalFilterOnPMConfigTest"/>
		</classes>
	</test>
</suite> 
